<div class="login">
  <!-- <div class="top-box">
    <div class="overlay">
      <img src="../../assets/imgs/kp-logo-full.png" alt="">
    </div>
  </div>
  <div class="form-box">
    <form (ngSubmit)="loginUser(login)" #login="ngForm">
      <div class="kure-form">
        <div class="form-inputs">
          <div class="text-input">
            <input type="email" name="email_address" [(ngModel)]="email_address" placeholder="Enter Email" value="">
          </div>
          <div class="text-input">
            <input type="password" name="password" [(ngModel)]="password" placeholder="Enter Password" value="">
          </div>
        </div>
        <div *ngIf="!notify" class="submit-form">
          <div>
            <button *ngIf="!loading">Login</button>
            <div *ngIf="loading" class="button">
              <img src="../../assets/icon/button-loader.gif" alt="">
            </div>
          </div>
        </div>
        <div (click)="goToPage('Signup')" class="sub-button">
          <p>Signup</p>
        </div>
        <div *ngIf="notify" class="error-box">
          <p>{{ notifyText ? notifyText : 'Error!' }}</p>
          <i class="material-icons" (click)="closeNotify()">cancel</i>
        </div>
      </div>
    </form>
  </div>
  <p class="trade-mark">KurePay™</p> -->
  <div class="background">
    <div class="container">
      <div class="content">
        <img src="../../assets/imgs/kp-logo-full.png" alt="">
        <form (ngSubmit)="loginUser(login)" #login="ngForm">
          <input type="email" name="email_address" [(ngModel)]="email_address" placeholder="Email Address">
          <input type="password" name="password" [(ngModel)]="password" placeholder="Password">
          <div>
            <button *ngIf="!loading">Login</button>
            <div *ngIf="loading" class="load-button">
              <img src="../../assets/icon/button-loader.gif" alt="">
            </div>
          </div>
          <div class="sub-button">
            <p>Don't have an account? <span (click)="goToPage('Signup')">Signup</span></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<popup *ngIf="popup" (click)="exitPopup()" [popup]="popupText"></popup>