<div class="transfer">
    <div class="header">
        <p>Recharge Airtime & Data</p>
        <div class="user-details">
            <!-- <p>{{ localCurrency }}<br>{{ balance | number:'0.2' }}</p> -->
            <p>{{ localCurrency }} {{ balance | number:'0.2' }}</p>
        </div>
    </div>

    <div class="tab-menu">
        <div class="container">
            <div (click)="changeView('airtime')" [ngClass]="{'active' : viewBox === 'airtime'}">Airtime</div>
            <div (click)="changeView('data')" [ngClass]="{'active' : viewBox === 'data'}">Data</div>
        </div>
    </div>
    <p class="tab-menu-info" *ngIf="viewBox === 'card'">Note! You will be directed to a payment page to pay</p>
    <p class="tab-menu-info" *ngIf="viewBox === 'transfer'">Transfer to the account below to fund your wallet</p>

    <div class="box" *ngIf="viewBox === 'airtime'">
        <!-- <form #airtimeForm="ngForm" (ngSubmit)="showPopup('success', 'Page loaded successfully!')"> -->
        <form #airtimeForm="ngForm" (ngSubmit)="buyAirtime(airtimeForm)">
            <div class="kure-form">
                <div class="form-inputs">
                    <div class="select-input">
                        <label>Network Provider</label>
                        <div>
                            <select name="network_provider" [(ngModel)]="network_provider">
                                <option [ngValue]="undefined">Choose Network Provider</option>
                                <option *ngFor="let airtime of airtimeOptions" [ngValue]="airtime.id">{{ airtime.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="text-input">
                        <label>Phone Number</label>
                        <input type="tel" [(ngModel)]="phone_number" name="phone_number"
                            placeholder="Enter Phone Number">
                    </div>
                    <div class="text-input">
                        <label>Amount</label>
                        <input type="tel" [(ngModel)]="airtime_amount" name="airtime_amount"
                            placeholder="Enter Airtime Amount">
                    </div>
                </div>
                <div class="submit-form">
                    <div>
                        <button *ngIf="!loading">Buy Airtime</button>
                        <div *ngIf="loading" class="button">
                            <img class="center" src="../../assets/icon/button-loader.gif" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="box" *ngIf="viewBox === 'data'">
        <form #dataForm="ngForm" (ngSubmit)="buyData(dataForm)">
            <div class="kure-form">
                <div class="form-inputs">
                    <div class="select-input">
                        <label>Data Provider</label>
                        <div>
                            <select (change)="updateBundle(data_provider)" name="data_provider"
                                [(ngModel)]="data_provider">
                                <option [ngValue]="undefined">Choose Data Provider</option>
                                <option *ngFor="let data of dataOptions" [ngValue]="data.id">{{ data.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="select-input">
                        <label>Data Plan</label>
                        <div>
                            <select (change)="updatePlan(data_plan)" name="data_plan" [(ngModel)]="data_plan">
                                <option [ngValue]="undefined">Choose Data Plan</option>
                                <option *ngFor="let bundle of bundles" [ngValue]="bundle.bundleCode">
                                    {{ bundle.name }} - N{{ bundle.amount }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="text-input">
                        <label>Phone or Account Number</label>
                        <input type="tel" [(ngModel)]="phone_or_account_no" name="phone_or_account_no"
                            placeholder="Enter Number">
                    </div>
                </div>
                <div class="submit-form">
                    <div>
                        <button *ngIf="!loading">Buy Data</button>
                        <div *ngIf="loading" class="button">
                            <img class="center" src="../../assets/icon/button-loader.gif" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<popup *ngIf="popup" (click)="exitPopup()" [popup]="popupText"></popup>

<menu [activeMenu]="activeMenu"></menu>