<div class="dashboard">
    <div class="head">
        <div class="background">
            <div>
                <div class="balance">
                    <p>Account Balance</p>
                    <h4>{{ localCurrency }} {{ balance | number:'0.2' }}</h4>
                </div>
                <div class="transactions">
                    <p><span *ngIf="countTX">{{ countTX }}</span> Transactions in the last 7 days <a
                            (click)="goToPage('Transactions')"> View All</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="buttons">
        <button (click)="goToPage('Fund')" class="left">
            <!-- (click)="openPage()" -->
            <i class="material-icons">add_circle</i>
            Receive Payment
        </button>
        <button (click)="goToPage('Transfer')">
            <i class="material-icons">cached</i>
            Transfer Money
        </button>
    </div>

    <div class="cards">
        <div (click)="goToPage('Recharge')" class="card left airtime">
            <div class="options">
                <h3>Buy Airtime</h3>
                <!-- <img class="left" src="../../assets/imgs/mtn.png" alt="mtn">
                <img src="../../assets/imgs/airtel.png" alt="airtel"> -->
            </div>
        </div>
        <div (click)="goToPage('Bills')" class="card bg-green tv">
            <div class="options">
                <h3>Pay for TV</h3>
                <!-- <img class="left" src="../../assets/imgs/dstv.png" alt="dstv">
                <img src="../../assets/imgs/gotv.png" alt="gotv"> -->
            </div>
        </div>
    </div>

    <div class="red-button">
        <button (click)="goToPage('Utilities', 'betting')">
            <i class="material-icons">casino</i>
            Sports Betting with KurePay
        </button>
    </div>

    <div class="cards">
        <div (click)="goToPage('Recharge', 'data')" class="card left data">
            <div class="options">
                <h3>Buy Data</h3>
                <!-- <img class="left" src="../../assets/imgs/mtn.png" alt="mtn">
                <img src="../../assets/imgs/airtel.png" alt="airtel"> -->
            </div>
        </div>
        <div (click)="goToPage('Bills', 'power')" class="card bg-green power">
            <div class="options">
                <h3>Pay for Electricity</h3>
                <!-- <img class="left" src="../../assets/imgs/dstv.png" alt="dstv">
                <img src="../../assets/imgs/gotv.png" alt="gotv"> -->
            </div>
        </div>
    </div>
</div>

<popup *ngIf="popup" (click)="exitPopup()" [popup]="popupText"></popup>

<menu [activeMenu]="activeMenu"></menu>