<div class="transfer">
    <div class="header">
        <p>Fund Wallet</p>
        <div class="user-details">
            <p>{{ localCurrency }} {{ balance | number:'0.2' }}</p>
        </div>
    </div>

    <div class="tab-menu">
        <div class="container">
            <div (click)="changeView('crypto')" [ngClass]="{'active' : viewBox === 'crypto'}">Crypto</div>
            <div (click)="changeView('card')" [ngClass]="{'active' : viewBox === 'card'}">Card</div>
            <div (click)="changeView('transfer')" [ngClass]="{'active' : viewBox === 'transfer'}">Transfer</div>
            <!-- <div (click)="changeView('debit')" [ngClass]="{'active' : viewBox === 'debit'}">Debit</div> -->
            <div (click)="changeView('ussd')" [ngClass]="{'active' : viewBox === 'ussd'}">USSD</div>
        </div>
    </div>

    <p class="tab-menu-info" *ngIf="viewBox === 'transfer'">NGN {{ 150 | number:'0.2'}} transfer charge applies.</p>

    <div class="box" *ngIf="viewBox === 'crypto'">
        <form (ngSubmit)="onSubmit(viaCrypto.value)" #viaCrypto="ngForm">
            <div class="kure-form">
                <div class="form-inputs">
                    <div class="select-input">
                        <label>Choose Cryptocurrency</label>
                        <div>
                            <select (change)="getAddresses(viaCrypto.value)" name="crypto_currency" value="0"
                                [(ngModel)]="crypto_currency">
                                <option [ngValue]="undefined">Choose Cryptocurrency</option>
                                <option *ngFor="let crypto of cryptos" [ngValue]="crypto.code">{{ crypto.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="loading" class="button">
                        <img src="../../assets/icon/button-loader.gif" alt="">
                    </div>
                    <div *ngIf="viewAddress" class="text-input-icon">
                        <label>Address</label>
                        <p class="display">{{ qrdata }}</p>
                        <!-- <div>
                            <input type="text" #address disabled aria-disabled="true" [value]="qrdata">
                            <i (click)="copyAddress(address.value)" class="material-icons colored">filter_none</i>
                        </div> -->
                    </div>
                    <div *ngIf="viewAddress" class="qr">
                        <qrcode [qrdata]="qrdata" [size]="192" [level]="'M'"></qrcode>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="box" *ngIf="viewBox === 'card'">
        <form (ngSubmit)="fundWithCard(viaCard.value)" #viaCard="ngForm">
            <div class="kure-form">
                <div class="form-inputs">
                    <div class="text-input">
                        <label>Enter Amount</label>
                        <input type="number" name="fund_amount" [(ngModel)]="fund_amount"
                            placeholder="Enter Amount to Fund">
                    </div>
                    <div class="text-input-icon">
                        <label>Transaction Fees</label>
                        <p class="display">{{ fund_amount === NaN ? '0.00' : fund_amount * 0.015 | number:'0.2' }}</p>
                        <!-- <div>
                            <input class="display" type="text" [value]="fund_amount === NaN ? '0' : fund_amount * 0.015"
                                name="transaction_fees" [(ngModel)]="transaction_fees" disabled aria-disabled="true">
                        </div> -->
                    </div>
                    <div class="text-input-icon">
                        <label>Amount to Receive in Wallet</label>
                        <p class="display">
                            {{ fund_amount === NaN ? '0.00' : fund_amount - (fund_amount * 0.015) | number:'0.2' }}</p>
                        <!-- <div>
                            <input class="display" type="number" [value]="fund_amount - (fund_amount * 0.015)"
                                name="amount_to_receive" [(ngModel)]="amount_to_receive" disabled aria-disabled="true">
                        </div> -->
                    </div>
                </div>
                <div class="submit-form">
                    <div>
                        <button *ngIf="!loading">Pay with Credit Card</button>
                        <div *ngIf="loading" class="button">
                            <img class="center" src="../../assets/icon/button-loader.gif" alt="">
                        </div>
                    </div>
                    <p class="tab-menu-info" *ngIf="viewBox === 'card'">Note! You will be directed to a payment
                        page to
                        pay</p>
                </div>
            </div>
        </form>
    </div>
    <div class="box" *ngIf="viewBox === 'transfer'">
        <div class="box-details">
            <div>
                <img src="../../assets/imgs/sterling.png" alt="Sterling Bank">
                <div>
                    <p>0069606129</p>
                    <p>Baywise Technology Ltd.</p>
                    <p>Sterling Bank</p>
                </div>
            </div>

        </div>
        <p class="form-tab-menu-info" *ngIf="viewBox === 'transfer'">Transfer funds to the account
            details above and send an SMS to <span>07059987900</span> with just the amount sent and
            the KurePay email address to be credited</p>
    </div>
    <!-- <div class="box" *ngIf="viewBox === 'debit'">
        <div class="box-details">
            <p class="upper">Bank Debit Coming Soon..</p>
        </div>
    </div> -->
    <div class="box" *ngIf="viewBox === 'ussd'">
        <div class="box-details">
            <p class="upper">USSD Coming Soon..</p>
        </div>
    </div>
</div>

<popup *ngIf="popup" (click)="exitPopup()" [popup]="popupText"></popup>

<menu [activeMenu]="activeMenu"></menu>