<div class="transfer">
    <div class="header">
        <p>Profile</p>
        <div class="user-details">
            <p>{{ localCurrency }} {{ balance | number:'0.2' }}</p>
            <div class="currency">
                <p (click)="showCountries()" class="current">{{ choiceCurrency }} <i
                        class="material-icons">arrow_drop_down</i></p>
                <div (click)="showCountries()" *ngIf="selectCode">
                    <div class="selectOverlay">
                        <div *ngFor="let country of countries">
                            <p (click)="chooseCountry(country)">{{country.country}} ({{country.currency_code}})</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-menu">
        <div class="container">
            <div (click)="changeView('profile')" [ngClass]="{'active' : viewBox === 'profile'}">Profile</div>
            <div (click)="changeView('password')" [ngClass]="{'active' : viewBox === 'password'}">Password</div>
            <div (click)="changeView('verify')" [ngClass]="{'active' : viewBox === 'verify'}">Verification</div>
        </div>
    </div>
    <!-- <p class="tab-menu-info" *ngIf="viewBox === 'card'">Note! You will be directed to a payment page to pay</p>
    <p class="tab-menu-info" *ngIf="viewBox === 'transfer'">Transfer to the account below to fund your wallet</p> -->

    <div class="box" *ngIf="viewBox === 'profile'">
        <form #updateProfile="ngForm" (ngSubmit)="onSubmit(updateProfile)">
            <div class="kure-form">
                <div class="form-inputs">
                    <div class="text-input" (click)="onSubmit(updateProfile)">
                        <label>First Name</label>
                        <input type="text" disabled aria-disabled="true" name="first_name" [(ngModel)]="firstName"
                            placeholder="Enter First Name">
                    </div>
                    <div class="text-input" (click)="onSubmit(updateProfile)">
                        <label>Last Name</label>
                        <input type="text" disabled aria-disabled="true" name="last_name" [(ngModel)]="lastName"
                            placeholder="Enter Last Name">
                    </div>
                    <div class="text-input" (click)="onSubmit(updateProfile)">
                        <label>Email Address</label>
                        <input type="email" disabled aria-disabled="true" name="email_address" [(ngModel)]="email"
                            placeholder="Enter Email Address">
                    </div>
                </div>
                <!-- <currency></currency> -->
                <!-- <div class="submit-form">
                    <div>
                        <button>Update Profile</button>
                    </div>
                </div> -->
            </div>
        </form>
        <!-- <div class="currency">
            <p (click)="showCountries()" class="current">{{ choiceCurrency }} <i
                    class="material-icons">arrow_drop_down</i></p>
            <div (click)="showCountries()" *ngIf="selectCode">
                <div class="selectOverlay">
                    <div *ngFor="let country of countries">
                        <p (click)="chooseCountry(country)">{{country.country}} ({{country.currency_code}})</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

    <div class="box" *ngIf="viewBox === 'password'">
        <form #changePassword="ngForm" (onSubmit)="updatePassword(changePassword)">
            <div class="kure-form">
                <div class="form-inputs">
                    <div class="text-input">
                        <label>Current Password</label>
                        <input type="password" name="curr_password" [(ngModel)]="curr_password"
                            placeholder="Enter Current Password">
                    </div>
                    <div class="text-input">
                        <label>New Password</label>
                        <input type="password" name="new_pass" [(ngModel)]="new_pass" placeholder="Enter New Password">
                    </div>
                    <div class="text-input">
                        <label>Retype New Password</label>
                        <input type="password" name="re_new_pass" [(ngModel)]="re_new_pass"
                            placeholder="Re-enter New Password">
                    </div>
                </div>
                <div class="submit-form">
                    <div>
                        <button *ngIf="!loading" (click)="updatePassword(changePassword)">Change Password</button>
                        <div *ngIf="loading" class="button">
                            <img class="center" src="../../assets/icon/button-loader.gif" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="box" *ngIf="viewBox === 'verify'">
        <form #kyc="ngForm" (ngSubmit)="kyCustomer(kyc)">
            <div class="kure-form">
                <div class="form-inputs">
                    <div class="text-input">
                        <label>Bank Verification Number (BVN)</label>
                        <input type="text" name="bvn" [(ngModel)]="bvn" placeholder="Enter Your BVN">
                    </div>
                    <div class="text-input" *ngIf="otp">
                        <label>Phone Number</label>
                        <input type="text" name="phone_number" [(ngModel)]="phone_number"
                            placeholder="Enter Your Phone Number">
                    </div>
                    <div class="otp-code" *ngIf="otp">
                        <div class="text-input">
                            <label class="white">Enter the OTP sent to your email</label>
                            <input type="text" name="otp_bvn" [(ngModel)]="otp_bvn" placeholder="Enter OTP">
                        </div>
                    </div>
                </div>
                <div class="submit-form">
                    <div>
                        <button *ngIf="!loading">{{ refCode ? 'Complete' : 'Start' }} Verification</button>
                        <div *ngIf="loading" class="button">
                            <img class="center" src="../../assets/icon/button-loader.gif" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<popup *ngIf="popup" (click)="exitPopup()" [popup]="popupText"></popup>

<menu [activeMenu]="activeMenu"></menu>