<div class="transfer">
    <div class="header">
        <p>Pay Bills</p>
        <div class="user-details">
            <p>{{ localCurrency }} {{ balance | number:'0.2' }}</p>
        </div>
    </div>

    <div class="tab-menu">
        <div class="container">
            <div (click)="changeView('cable')" [ngClass]="{'active' : viewBox === 'cable'}">Cable TV</div>
            <div (click)="changeView('power')" [ngClass]="{'active' : viewBox === 'power'}">Electricity</div>
        </div>
    </div>

    <div class="box" *ngIf="viewBox === 'cable'">
        <form #cableForm="ngForm" (ngSubmit)="cablePayment(cableForm)">
            <div class="kure-form">
                <div class="form-inputs">
                    <div class="select-input">
                        <label>Cable TV Package</label>
                        <div>
                            <select (change)="updatePackage(cable_package)" name="cable_package"
                                [(ngModel)]="cable_package">
                                <option [ngValue]="undefined">Choose Package</option>
                                <option *ngFor="let tv of tvOptions" [ngValue]="tv.id">{{ tv.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="select-input">
                        <label>Cable TV Bouquet</label>
                        <div>
                            <select (change)="updateBouquet(cable_bouquet)" name="cable_bouquet"
                                [(ngModel)]="cable_bouquet">
                                <option [ngValue]="undefined">Choose Bouquet</option>
                                <option *ngFor="let bouquet of bouquets" [ngValue]="bouquet.bundleCode">
                                    {{ bouquet.name }} - N{{ bouquet.amount }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="text-input">
                        <label>Smartcard Number</label>
                        <input type="number" [(ngModel)]="card_number" name="card_number"
                            placeholder="Enter Smart Card Number">
                    </div>
                    <div class="text-input">
                        <label>Phone Number</label>
                        <input type="text" [(ngModel)]="phone_number" name="phone_number"
                            placeholder="Enter Phone Number">
                    </div>
                </div>
                <div class="submit-form">
                    <div>
                        <button *ngIf="!loading">Pay Bill</button>
                        <div *ngIf="loading" class="button">
                            <img class="center" src="../../assets/icon/button-loader.gif" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="box" *ngIf="viewBox === 'power'">
        <form #powerForm="ngForm" (ngSubmit)="powerPayment(powerForm)">
            <div class="kure-form">
                <div class="form-inputs">
                    <div class="select-input">
                        <label>Electricity Provider</label>
                        <div>
                            <select value="" name="power_provider" [(ngModel)]="power_provider">
                                <option [ngValue]="undefined">Choose Provider</option>
                                <option *ngFor="let power of powerOptions" [ngValue]="power.id">{{ power.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="text-input">
                        <label>Meter Number</label>
                        <input type="number" [(ngModel)]="meter_number" name="meter_number"
                            placeholder="Enter Meter Number">
                    </div>
                    <div class="text-input">
                        <label>Amount (NGN)</label>
                        <input type="number" [(ngModel)]="amount" name="amount" placeholder="Enter Amount">
                    </div>
                    <div class="text-input">
                        <label>Phone Number</label>
                        <input type="text" [(ngModel)]="phone_number" name="phone_number"
                            placeholder="Enter Phone Number">
                    </div>
                    <!-- <div class="select-input">
                        <label>Meter Type</label>
                        <div>
                            <select value="" name="data_plan" [(ngModel)]="data_plan">
                                <option [ngValue]="undefined">Choose Meter Type</option>
                                <option *ngFor="let meter of meters" [ngValue]="meter.code">{{ meter.name }}</option>
                            </select>
                        </div>
                    </div> -->
                </div>
                <div class="submit-form">
                    <div>
                        <button *ngIf="!loading">Pay Bill</button>
                        <div *ngIf="loading" class="button">
                            <img class="center" src="../../assets/icon/button-loader.gif" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<popup *ngIf="popup" (click)="exitPopup()" [popup]="popupText"></popup>

<menu [activeMenu]="activeMenu"></menu>