// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

body {
    background-color: #F5F5F5;
    background: #F5F5F5;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: #34495E;
    color: #F5F5F5;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    margin-bottom: 20px;
}

.header p {
    margin: 0;
}

.header > p {
    font-size: 14px;
    font-weight: 300;
}

.header .user-details {
    text-align: right;
    margin-bottom: -2.5px;
}

.header .user-details > p {
    font-size: 12px;
    color: rgba(245,245,245,0.8);
    font-weight: 300;
}

.header .user-details .currency .current {
    font-size: 10px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -2.5px;
}

.header .user-details .currency .current i {
    font-size: 18px;
}

.kure-form {
    height: calc(100% - 40px);
    overflow-y: scroll;
    padding: 0px 8px;
}

.kure-form p {
    margin: 0px;
}

.kure-form .form-inputs {
    width: 100%;
    margin-bottom: 30px;
}

.kure-form .form-inputs .text-input,
.kure-form .form-inputs .text-input-icon,
.kure-form .form-inputs .select-input {
    width: 100%;
}

.kure-form .form-inputs > div {
    margin-bottom: 15px;
}

.kure-form .form-inputs > div:last-child {
    margin-bottom: 0px;
}

.kure-form .form-inputs label {
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 500;
    color: #418298;
}

// .kure-form .form-inputs .text-input > label {
//     margin-bottom: 5px;
// }

.kure-form .form-inputs label.white {
    color: #F5F5F5;
}

.kure-form .form-inputs label.gray {
    color: #959595;
}

.kure-form .form-inputs .label-options {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 5px;
}

.kure-form .form-inputs .label-options label,
.kure-form .form-inputs .below-input {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.kure-form .form-inputs .below-input {
    margin-bottom: -10px;
    margin-top: 5px;
    justify-content: flex-end;
    color: #34495E;
}

.kure-form .form-inputs .label-options label i,
.kure-form .form-inputs .below-input i {
    font-size: 14px;
    margin-right: 5px;
}

.kure-form .form-inputs input,
.kure-form .form-inputs select {
    border: none;
    outline: none;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.16);
    height: 36px;
    border-radius: 2px;
    padding: 0px 20px;
    padding-right: 52px;
    font-size: 12px;
    color: #717171;
}

.kure-form .form-inputs input::placeholder {
    color: #BCBCBC;
    text-transform: capitalize;
}

.kure-form .form-inputs input:focus {
    box-shadow: 0px 0px 6px rgba(65, 130, 152,0.16);
}

.kure-form .form-inputs .text-input-icon > div,
.kure-form .form-inputs .select-input > div,
.kure-form .form-inputs .select-input {
    position: relative;
}

.kure-form .form-inputs .text-input-icon div i {
    position: absolute;
    color: #BCBCBC;
    font-size: 16px;
    top: 10px;
    right: 10px;
}

.kure-form .form-inputs .text-input-icon div i.colored {
    color: #418298;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    right: 10px;
    top: 0px;
}

.kure-form .form-inputs .text-input-icon div input {
    padding-right: 52px;
}

.kure-form .form-inputs .otp-code {
    background-color: #34495E;
    padding: 20px;
    border-radius: 5px;
}



.kure-form .kure-form-control .add-to-form {
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 500;
    color: #34495E;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 30px;
}

.kure-form .kure-form-control .add-to-form i {
    font-size: 18px;
    margin-right: 2.5px;
}




.kure-form .submit-form > div {
    margin-bottom: 40px;
}

.kure-form .submit-form button {
    outline: none;
    border: none;
    height: 40px;
    color: #FFFFFF;
    background-color: #006577;
    border-radius: 5px;
    padding: 0px 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.kure-form .submit-form > div p {
    display: flex;
    align-items: flex-start;
    color: #FC5D00;
    margin-top: 5px;
    font-size: 12px;
}

.kure-form .submit-form > div p i {
    margin-right: 5px;
    font-size: 18px;
}

.kure-form .submit-form .disabled-button button {
    background-color: #959595;
    color: #BCBCBC;
}

.kure-form .submit-form > .side-text {
    display: flex;
}

.kure-form .submit-form > .side-text p {
    margin-left: 20px;
}



.menu {
    background-color: #34495E;
    color: rgba(245,245,245,0.75);
    // padding: 10px 26px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 999999;
    height: 60px;
    display: flex;
    align-items: flex-end;
}

.menu > div {
    display: flex;
    width: 100%;
    // justify-content: space-between;
}

.menu div div {
    text-align: center;
    padding: 10px 0px;
    width: 25%;
}

.menu div div.active {
    color: rgba(245,245,245,1);
    background-color: #006577;
    height: 65px;
    margin-top: -5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.menu div div.active i {
    font-size: 28px;
    // margin-top: 5px;
}

.menu p {
    margin: 0px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}

.inv-overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 999999;
    background-color: rgba(0,0,0,0.32);
}

.sub-menu {
    width: 160px;
    box-shadow: 0px 0px 6px rgba(66,66,66,0.35);
    border-radius: 5px;
    color: #424242;
    font-size: 12px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    bottom: 70px;
    transition: 4s ease-in-out;
    z-index: 99999999;
    background-color: #FFFFFF;
}

.sub-menu > div div {
    display: flex;
    padding: 10px 16px;
    align-items: center;
    border-bottom: 0.5px solid #F5F5F5;
}

.sub-menu > div div.active {
    background-color: #34495E;
    color: #F5F5F5;
}

.sub-menu > div div:last-child {
    border-bottom: none;
}

.sub-menu div div i {
    font-size: 18px;
    margin-right: 6px;
    color: #717171;
}

.sub-menu > div div.active {
    background-color: #34495E;
    color: #F5F5F5;
}

.sub-menu > div div.active i {
    color: #F5F5F5;
}

.sub-menu p {
    margin: 0px;
}

.tab-menu {
    padding: 0px 16px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    color: #424242;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-menu .container {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.16);
    height: 32px;
    display: flex;
    align-items: center;
    // justify-content: space-around;
    width: 100%;
    border-radius: 4px;
}

.tab-menu .container div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-menu .container div:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.tab-menu .container div:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.tab-menu .container div.active {
    background-color: #006577;
    color: #F5F5F5;
    transition: 0.1s linear;
}

.box {
    padding: 0px 16px;
    margin-top: 16px;
    height: calc(100% - 120px);
    overflow-y: scroll;
}

.tab-menu-info {
    color: #959595;
    color: #DD2626;
    color: #FC5D00;
    font-size: 8px;
    text-align: center;
    margin-top: 5px;
}
