<div class="transfer">
  <div class="header">
    <p>Transfer Money</p>
    <div class="user-details">
      <p>{{ localCurrency }} {{ balance | number:'0.2'}}</p>
    </div>
  </div>


  <div class="tab-menu">
    <div class="container">
      <div (click)="changeView('bank')" [ngClass]="{'active' : viewBox === 'bank'}">Bank</div>
      <div (click)="changeView('crypto')" [ngClass]="{'active' : viewBox === 'crypto'}">Crypto</div>
      <div (click)="changeView('wallet')" [ngClass]="{'active' : viewBox === 'wallet'}">Wallet</div>
    </div>
  </div>
  <p class="tab-menu-info" *ngIf="viewBox === 'bank'">Supported in Nigeria only for now</p>

  <div class="box" *ngIf="viewBox === 'bank'">
    <form (ngSubmit)="onSubmitBank(viaBankForm)" #viaBankForm="ngForm">
      <div class="kure-form">
        <div class="form-inputs">
          <div class="text-input">
            <!-- <div class="label-options">
              <label [ngClass]="{'gray' : beneficiaries}" (click)="toggleBeneficiaries()">
                <i class="material-icons">{{!beneficiaries ? 'radio_button_checked' : 'radio_button_unchecked'}}</i>
                Account Number</label>
              <label [ngClass]="{'gray' : !beneficiaries}" (click)="toggleBeneficiaries()">
                <i class="material-icons">{{beneficiaries ? 'radio_button_checked' : 'radio_button_unchecked'}}</i>
                Choose from beneficiaries</label>
            </div> -->
            <label>Account Number</label>
            <input type="text" (change)="getAccountName(account_num, local_bank)" name="account_num"
              [(ngModel)]="account_num" placeholder="Enter Account Number">
            <!-- <select *ngIf="beneficiaries" name="beneficiary_name" [(ngModel)]="beneficiary_name">
              <option [ngValue]="undefined">Choose Beneficiaries</option>
              <option *ngFor="let ben of benList" [ngValue]="ben.code">{{ ben.name }}</option>
            </select> -->
            <!-- Place the view that should be loaded when the other option is checked -->
          </div>
          <div class="select-input">
            <label>Local Bank</label>
            <div>
              <select (change)="getAccountName(account_num, local_bank)" name="local_bank" [(ngModel)]="local_bank">
                <option [ngValue]="undefined">Choose Bank</option>
                <option *ngFor="let bank of bankList" [ngValue]="bank.bankCode">{{ bank.bankName }}</option>
              </select>
            </div>
          </div>
          <div *ngIf="accountName" class="text-input-icon">
            <label>Account Name</label>
            <p class="display">{{ accountName }}</p>
            <!-- <div>
              <input type="text" value="0" name="account_name" [(ngModel)]="account_name" placeholder="Account Name"
                disabled aria-disabled="disabled">
              <i class="material-icons">lock</i>
            </div> -->
          </div>
          <div *ngIf="accountName" class="text-input">
            <label>Amount ({{ localCurrency }})</label>
            <input type="number" name="trans_amount" [(ngModel)]="trans_amount" placeholder="Enter Amount to Transfer">
          </div>
          <!-- <div class="text-input-icon">
            <label>Amount You Will Be Charged</label>
            <p class="display">{{ '0.00' }}</p>
            <div>
              <input type="number" name="amount_charged" [(ngModel)]="amount_charged" value="0" placeholder="0" disabled
                aria-disabled="disabled">
              <i class="material-icons">lock</i>
            </div>
          </div> -->

          <div class="otp-code" *ngIf="otpBank">
            <div class="text-input">
              <label class="white">Enter the OTP sent to your email</label>
              <input type="text" name="otp_bank" [(ngModel)]="otp_bank" placeholder="Enter OTP">
            </div>
          </div>
        </div>
        <div class="submit-form">
          <div *ngIf="loading" class="button">
            <img class="center" src="../../assets/icon/button-loader.gif" alt="">
          </div>
          <div *ngIf="!loading && accountName" class="side-text">
            <button (click)="showBankOTP()" *ngIf="!otpBank">Transfer Money</button>
            <button *ngIf="otpBank">Complete Transaction</button>
            <!-- <p>OTP timed out<br>Generate new OTP Code</p> Optional -->
          </div>
          <!-- <p class="tab-menu-info">NGN {{ 50 | number:'0.2' }} transfer charge applies</p> -->
        </div>
      </div>
    </form>
  </div>
  <div class="box" *ngIf="viewBox === 'crypto'">
    <form #viaCryptoForm="ngForm">
      <div class="kure-form">
        <div class="form-inputs">
          <div class="select-input">
            <label>Cryptocurrency</label>
            <div>
              <select name="crypto_currency" [(ngModel)]="crypto_currency">
                <option [ngValue]="undefined">Choose Cryptocurrency</option>
                <option *ngFor="let crypto of cryptos" [ngValue]="crypto.code">{{ crypto.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="text-input">
            <label>Cryptocurrency Wallet Address</label>
            <input type="text" name="wallet_address" [(ngModel)]="wallet_address" placeholder="Enter Wallet Address">
            <label (click)="scan()" class="below-input"><i class="material-icons">crop_free</i>Scan a QR Code</label>
          </div>
          {{ qrdata | json}}
          <div class="text-input">
            <label>Amount ({{ localCurrency }})</label>
            <input type="number" value="" name="amount_to_transfer" [(ngModel)]="amount_to_transfer"
              placeholder="Enter Amount to Transfer">
          </div>
          <!-- <p (click)="scan()">Scan a QR Code</p> -->
          <div *ngIf="qrdata">Result: {{ qrdata }}</div>
          <div class="otp-code" *ngIf="otpCrypto">
            <div class="text-input">
              <label class="white">Enter the OTP sent to your email</label>
              <input type="text" name="otp_crypto" [(ngModel)]="otp_crypto" placeholder="Enter OTP">
            </div>
          </div>
        </div>
        <div class="submit-form">
          <div *ngIf="loading" class="button">
            <img class="center" src="../../assets/icon/button-loader.gif" alt="">
          </div>
          <div class="side-text">
            <button (click)="showCryptoOTP(viaCryptoForm)" *ngIf="!otpCrypto && !loading">Transfer Money</button>
            <button (click)="onSubmitCrypto(viaCryptoForm)" *ngIf="otpCrypto && !loading">Complete Transaction</button>
            <!-- <p>OTP timed out<br>Generate new OTP Code</p> Optional -->
          </div>
          <!-- <p class="tab-menu-info"></p> -->
        </div>
      </div>
    </form>
  </div>
  <div class="box" *ngIf="viewBox === 'wallet'">
    <form #viaWalletForm="ngForm">
      <div class="kure-form">
        <div class="form-inputs">
          <div class="text-input">
            <label>Kurepay Recipient Email Address</label>
            <input type="email" name="recipient_email" [(ngModel)]="recipient_email" placeholder="Enter Email Address">
          </div>
          <div class="text-input">
            <label>Amount ({{ localCurrency }})</label>
            <input type="number" name="amount_to_transfer" [(ngModel)]="amount_to_transfer"
              placeholder="Enter Amount to Transfer">
          </div>
          <div class="otp-code" *ngIf="otpWallet">
            <div class="text-input">
              <label class="white">Enter the OTP sent to your email</label>
              <input type="text" name="otp_wallet" [(ngModel)]="otp_wallet" placeholder="Enter OTP">
            </div>
          </div>
        </div>
        <div class="submit-form">
          <div *ngIf="loading" class="button">
            <img class="center" src="../../assets/icon/button-loader.gif" alt="">
          </div>
          <div class="side-text">
            <button (click)="showWalletOTP(viaWalletForm)" *ngIf="!otpWallet && !loading">Transfer Money</button>
            <button (click)="onSubmitWallet(viaWalletForm)" *ngIf="otpWallet && !loading">Complete Transaction</button>
            <!-- <p>OTP timed out<br>Generate new OTP Code</p> Optional -->
          </div>
          <!-- <p class="tab-menu-info">NGN {{ 50 | number:'0.2' }} transfer charge applies</p> -->
        </div>
      </div>
    </form>
  </div>
</div>

<popup *ngIf="popup" (click)="exitPopup()" [popup]="popupText"></popup>

<menu [activeMenu]="activeMenu"></menu>